<app-search-esc (searchesc)="handleSearch($event)"> </app-search-esc>

<div class="container">
<div class="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" width="25%">Nome</th>
        <th scope="col" width="30%">Endereço</th>
        <th scope="col" width="10%">Telefone</th>
        <th scope="col" width="35%">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr
       *ngFor="let escola of escolas | async | searchesc: filtro_valor | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index"
      >
        <td>{{escola.nome}}</td>
        <td>{{escola.endereco}}</td>
        <td>{{escola.telefone}}</td>
        <td>
          <button
            (click)="detalheEscola(escola.id)"
            class="btn btn-info"
            style="margin-right: 5px"
          >
            Visualizar
          </button>

          <button
            (click)="updateEscola(escola.id)"
            class="btn btn-warning"
            style="margin-right: 5px"
          >
            Editar
          </button>

          <button (click)="deleteEscola(escola.id)" class="btn btn-danger">
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="paginaAtual = $event"
    previousLabel="Anterior"
    nextLabel="Próximo"
  ></pagination-controls>
</div>
</div>
