<a href="escolas" class="btn btn-success float-right">
  <i class="fas fa-plus"></i>
  Adicionar
</a>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Escolas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let escola of escolas | async">
          <td>{{escola.id}}</td>
          <td>{{escola.nome}}</td>
          <td>{{escola.telefone}}</td>
          <td>
            <button
              (click)="detalheEscola(escola.id)"
              class="btn btn-warning"
              style="margin-right: 10px"
            >
              Editar
            </button>

            <button (click)="deleteEscola(escola.id)" class="btn btn-danger">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
