<div class="col-md-9">
  <h4>Cadastro de Veículos</h4>

  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="placa">Placa</label>
        <input
          type="text"
          class="form-control"
          id="placa"
          required
          [(ngModel)]="veiculo.placa"
          name="txtPlaca"
        />
      </div>

      <div class="form-group">
        <label for="exercicio">Exercício:</label>
        <input
          type="text"
          class="form-control"
          id="exercicio"
          required
          [(ngModel)]="veiculo.exercicio"
          name="txtExercicio"
        />
      </div>

      <div class="form-group">
        <label for="proprietario">Proprietário:</label>
        <input
          type="text"
          class="form-control"
          id="proprietario"
          required
          [(ngModel)]="veiculo.proprietario"
          name="txtProprietario"
        />
      </div>

      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <input
          type="text"
          class="form-control"
          id="tipo"
          required
          [(ngModel)]="veiculo.tipo"
          name="txtTipo"
        />
      </div>

      <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input
          type="text"
          class="form-control"
          id="modelo"
          required
          [(ngModel)]="veiculo.modelo"
          name="txtModelo"
        />
      </div>

      <div class="form-group">
        <label for="ano">Ano:</label>
        <input
          type="text"
          class="form-control"
          id="ano"
          required
          [(ngModel)]="veiculo.ano"
          name="txtAno"
        />
      </div>

      <div class="form-group">
        <label for="capacidade">Capacidade:</label>
        <input
          type="text"
          class="form-control"
          id="capacidade"
          required
          [(ngModel)]="veiculo.capacidade"
          name="txtCapacidade"
        />
      </div>

      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>Dados salvos com sucesso!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
  </div>
</div>
