  <h4>Atualizar Cadastro de Escolas</h4>
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="idNome">Nome:</label>
        <input
          type="text"
          class="form-control"
          id="idNome"
          required [(ngModel)]="escola.nome"
          name="txtNome"
        />
      </div>

      <div class="form-group">
        <label for="idTelefone">Telefone:</label>
        <input
          type="email"
          class="form-control"
          id="idTelefone"
          required [(ngModel)]="escola.telefone"
          name="txtTelefone"
        />
      </div>

      <div class="form-group">
        <label for="idEmail">E-mail:</label>
        <input
          type="text"
          class="form-control"
          id="idEmail"
          required [(ngModel)]="escola.email"
          name="txtEmail"
        />
      </div>

      <div class="form-group">
        <label for="idEndereco">Endereço:</label>
        <input
          type="text"
          class="form-control"
          id="idEndereco"
          required [(ngModel)]="escola.endereco"
          name="txtEndereco"
        />
      </div>

      <button type="submit" class="btn btn-success">Atualizar Dados</button>

