<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

        <div class="col-md-9">
            <h4>Escolas</h4>
            <form action="#" class="col-md-9">

                <div class="form-group">
                    <label for="idNome">Nome:</label>
                    <input type="text" name="txtNome"
                           class="form-control" id="idNome"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idTelefone">Telefone:</label>
                    <input type="email" name="txtTelefone"
                           class="form-control" id="idTelefone"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idEmail">E-mail:</label>
                    <input type="text" name="txtEmail"
                           class="form-control" id="idEmail"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idEndereco">Endereço:</label>
                    <input type="text" name="txtEndereco"
                           class="form-control" id="idEndereco"
                           required/>
                </div>



                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
      </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>


