<h4>Atualizar Cadastro de Empresas</h4>
<form action="#" class="col-md-9">
  <div class="form-group">
    <label for="RazaoSocial">Razão Social:</label>
    <input
      type="text"
      class="form-control"
      id="idRazaoSocial"
      name="txtRazaoSocial"
      required
      [(ngModel)]="empresa.razao_social"
    />
  </div>

  <div class="form-group">
    <label for="cnpj">CNPJ:</label>
    <input type="text" class="form-control" id="idNome" name="txtcnpj" />
  </div>

  <div class="form-group">
    <label for="endereco">Endereço:</label>
    <input
      type="text"
      class="form-control"
      id="idCpf"
      required
      name="txtendereco"
      required
      [(ngModel)]="empresa.endereco"
    />
  </div>

  <div class="form-group">
    <label for="Rg">Gerente:</label>
    <input type="text" class="form-control" id="idRg" name="txtRg" />
  </div>

  <div class="form-group">
    <label for="Telefone">Telefone:</label>
    <input
      type="text"
      class="form-control"
      id="idTelefone"
      name="txtTelefone"
      required
      [(ngModel)]="empresa.telefone"
    />
  </div>

  <div class="form-group">
    <label for="dono">Dono:</label>
    <input
      type="text"
      class="form-control"
      id="idDono"
      name="txtDono"
      required
      [(ngModel)]="empresa.nome_dono"
    />
  </div>

  <div class="form-group">
    <label for="email">E-mail:</label>
    <input
      type="text"
      class="form-control"
      id="idDataNasc"
      name="txtEmail"
      required
      [(ngModel)]="empresa.email"
    />
  </div>

  <button type="submit" class="btn btn-success">Salvar</button>
</form>
