<app-search-mot (searchmot)="handleSearch($event)"> </app-search-mot>

<div class="panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <!--<th scope="col" width="5%">Id</th>-->
        <th scope="col" width="20%">Nome</th>
        <th scope="col" width="10%">Linha</th>
        <th scope="col" width="20%">Placa do Veículo</th>
        <th scope="col" width="50%">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let motorista of motoristas | async | searchmot: filtro_valor | paginate: { itemsPerPage: 20, currentPage: paginaAtual }; let i = index"
      >
        <!--<td>{{motorista.id}}</td>-->
        <td>{{motorista.nome}}</td>
        <td>{{motorista.linha.nome_linha}}</td>
        <td>{{motorista.veiculo.placa}}</td>
        <td>
          <button
            (click)="detalheMotorista(motorista.id)"
            class="btn btn-primary"
            style="margin-right: 5px"
          >
            Visualizar
          </button>

          <button
            (click)="updateMotorista(motorista.id)"
            class="btn btn-warning"
            style="margin-right: 5px"
          >
            Editar
          </button>

          <button
            (click)="deleteMotorista(motorista.id)"
            class="btn btn-danger"
          >
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
