<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Motoristas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let motorista of motoristas | async">
          <td>{{motorista.id}}</td>
          <td>{{motorista.nome}}</td>
          <td>{{motorista.cpf}}</td>
          <td>{{motorista.telefone}}</td>
          <td>
            <button
              (click)="deleteMotorista(motorista.id)"
              class="btn btn-danger"
            >
              Deletar
            </button>
            <button
              (click)="detalheMotorista(motorista.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Detalhes
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
