<div class="topo">
  <div class="container">
    <h2>
      <img src="../logo.png" /> Secretaria Municipal de Educação e Cultura
    </h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link " id="md" href="#">Movimento Diário</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-toggle="dropdown"
            id="navDrop"
          >
            Cadastros
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> Alunos </a>
            <a class="dropdown-item" href="#"> Empresas </a>
            <a class="dropdown-item" href="#"> Escolas </a>
            <a class="dropdown-item" href="#"> Linhas </a>
            <a class="dropdown-item" href="#"> Motoristas </a>
            <a class="dropdown-item" href="#"> Veículos </a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="relatorios" href="#">Relatórios</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <h4>Cadastro de Veículos</h4>
      <form action="#" class="col-md-9">
        <div class="form-group">
          <label for="idPlaca">Placa:</label>
          <input
            type="text"
            name="txtPlaca"
            class="form-control"
            id="idPlaca"
            required
          />
        </div>

        <div class="form-group">
          <label for="idExercicio">Exercicio:</label>
          <input
            type="text"
            name="txtExercicio"
            class="form-control"
            id="idExercicio"
          />
        </div>

        <div class="form-group">
          <label for="idProprietario">Proprietário:</label>
          <input
            type="text"
            name="txtProprietario"
            class="form-control"
            id="idProprietario"
            required
          />
        </div>

        <div class="form-group">
          <label for="idTipoVeiculo">Tipo do Veículo:</label>
          <input
            type="text"
            name="txtTipoVeiculo"
            class="form-control"
            id="idTipoVeiculo"
            required
          />
        </div>

        <div class="form-group">
          <label for="idModelo">Modelo do Veículo:</label>
          <input
            type="text"
            name="txtModelo"
            class="form-control"
            id="idModelo"
            required
          />
        </div>

        <div class="form-group">
          <label for="idAno">Ano do Veículo:</label>
          <input
            type="text"
            name="txtAno"
            class="form-control"
            id="idAno"
            required
          />
        </div>

        <div class="form-group">
          <label for="idCapacidade">Capacidade:</label>
          <input
            type="text"
            name="txtCapacidade"
            class="form-control"
            id="idCapacidade"
            required
          />
        </div>

        <button type="submit" class="btn btn-success">
          Salvar
        </button>
      </form>
    </div>
  </div>
</div>
