<div class="topo">

    <div class="container">
        <h2><img src="../logo.png"/> Secretaria Municipal de Educação e Cultura</h2>
    </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de linhas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linha of linhas | async">
          <td>{{linha.id}}</td>
          <td>{{linha.nome}}</td>
          <td><button (click)="deleteLinha(linha.id)" class="btn btn-danger">Deletar</button>
              <button (click)="detalheLinha(linha.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

