<a [routerLink]="['/linhas']"
  routerLinkActive="router-link-active"
  class="btn btn-success float-right">
  <i class="fas fa-plus"></i>
  Adicionar
</a>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Linhas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linha of linhas | async">
          <td>{{linha.id}}</td>
          <td>{{linha.nome}}</td>
          <td>

            <button
              (click)="detalheLinha(linha.id)"
              class="btn btn-primary"
              style="margin-right: 10px">
              Visualizar
            </button>

            <button [routerLink]="['/updateLinha/:id']" routerLinkActive="router-link-active"
              (click)="updateLinha(linha.id)"
              class="btn btn-warning"
              style="margin-right: 10px">
              Editar
            </button>

            <button
            (click)="deleteLinha(linha.id)"
            class="btn btn-danger">
              Deletar
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
