<!--<app-create-aluno></app-create-aluno>
<app-list-aluno></app-list-aluno>
<app-update-aluno></app-update-aluno>

<app-create-empresa></app-create-empresa>
<app-list-empresa></app-list-empresa>
<app-update-empresa></app-update-empresa>

<app-create-escola></app-create-escola>
<app-list-escola></app-list-escola>
<app-update-escola></app-update-escola>

<app-create-linha></app-create-linha>-->
<app-list-linha></app-list-linha>
<!--<app-update-linha></app-update-linha>

 <app-create-motorista></app-create-motorista>
<app-list-motorista></app-list-motorista>
<app-update-motorista></app-update-motorista>

<app-create-veiculo></app-create-veiculo>
<app-list-veiculo></app-list-veiculo>
<app-update-veiculo></app-update-veiculo> -->
