<h2>Empresa:</h2> 

<hr/>
<div *ngIf="empresa">
  <div>
    <label><b>CNPJ: </b></label> {{empresa.cnpj}}
  </div>

  <div>
    <label><b>E-mail: </b></label> {{empresa.email}}
  </div>  

  <div>
    <label><b>Endereço: </b></label> {{empresa.endereco}}
  </div>  

  <div>
    <label><b>Gerente: </b></label> {{empresa.nome_gerente}}
  </div> 

  <div>
    <label><b>Proprietário: </b></label> {{empresa.nome_dono}}
  </div>

  <div>
    <label><b>Razão Social: </b></label> {{empresa.razao_social}}
  </div> 

  <div>
    <label><b>Telefone: </b></label> {{empresa.telefone}}
  </div> 

   
  
</div>

<br>
<br>

<button
  [routerLink]="['/listEmpresa']"
  routerLinkActive="router-link-active"
  class="btn btn-primary"
>
  Voltar</button
><br />
