<h3>Atualizar Cadastro de Linhas</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titulo">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="idLinha"
        required
        [(ngModel)]="linha.nome"
        name="nomelinha"
      />
    </div>

    <button type="submit" class="btn btn-success">Atualizar Dados</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Dados Registrados Corretamente!</h4>
</div>
