<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<div class="topo">

    <div class="container">
        <h2><img src="../logo.png"/> Secretaria Municipal de Educação e Cultura </h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">

                <li class="nav-item">
                    <a class="nav-link " id="md" href="#">Movimento Diário</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop"> Cadastros </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"> Alunos </a>
                        <a class="dropdown-item" href="#"> Empresas </a>
                        <a class="dropdown-item" href="#"> Escolas </a>
                        <a class="dropdown-item" href="#"> Linhas </a>
                        <a class="dropdown-item" href="#"> Motoristas </a>
                        <a class="dropdown-item" href="#"> Veículos </a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="relatorios" href="#">Relatórios</a>
                </li>

            </ul>
        </div>

<!--      <div class="col-md-9">
            <h4>Cadastro de Alunos</h4>
            <form action="#" class="col-md-9">
                <div class="form-group">
                    <label for="idLinha">Linha:</label>
                    <input type="text" name="txtLinha"
                           class="form-control" id="idLinha"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idNome">Nome:</label>
                    <input type="text" name="txtNome"
                           class="form-control" id="idNome"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idCpf">CPF:</label>
                    <input type="text" name="txtCpf"
                           class="form-control" id="idCpf"/>
                </div>

                <div class="form-group">
                    <label for="idRg">RG:</label>
                    <input type="text" name="txtRg"
                           class="form-control" id="idRg"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idTelefone">Telefone:</label>
                    <input type="tel" name="txtTelefone"
                           class="form-control" id="idTelefone"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idDataNasc">Data de Nascimento:</label>
                    <input type="date" name="txtDataNasc"
                           class="form-control" id="idDataNasc"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idEscola">Escola:</label>
                    <select name="campoEscola" class="form-control" id="idEscola" required>
                        <option value="">Selecione...</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="idSerie">Série:</label>
                    <input type="text" name="txtSerie"
                           class="form-control" id="idSerie"
                           required/>
                </div>

                <div class="form-group">
                    <label for="idPeriodo">Período:</label>
                    <input type="text" name="txtPeriodo"
                           class="form-control" id="idPeriodo"
                           required/>
                </div>
                <button type="submit" class="btn btn-success">
                    Salvar
                </button>
            </form>
        </div>

    </div>
</div> -->

<h3>Cadastro de Alunos</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control"
      id="nome" required [(ngModel)]="aluno.nome"
      name="txtNome">
    </div>

    <div class="form-group">
      <label for="linha">Linha:</label>
      <input type="text" class="form-control"
      id="linha" required [(ngModel)]="aluno.linha"
      name="txtLinha">
    </div>

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="text" class="form-control"
      id="emailId" required [(ngModel)]="aluno.cpf"
      name="txtCpf">
    </div>

    <div class="form-group">
      <label for="rg">RG:</label>
      <input type="text" class="form-control"
      id="rg" required [(ngModel)]="aluno.rg"
      name="txtRg">
    </div>

    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input type="text" class="form-control"
      id="telefone" required [(ngModel)]="aluno.telefone"
      name="txtTelefone">
    </div>

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="text" class="form-control"
      id="emailId" required [(ngModel)]="aluno.cpf"
      name="txtCpf">
    </div>

    <div class="form-group">
      <label for="datanasc">Data de Nascimento:</label>
      <input type="date" class="form-control"
      id="datanasc" required [(ngModel)]="aluno.datanasc"
      name="txtDataNasc">
    </div>

    <div class="form-group">
      <label for="escola">Escola:</label>
      <input type="text" class="form-control"
      id="escola" required [(ngModel)]="aluno.escola"
      name="txtEscola">
    </div>

    <div class="form-group">
      <label for="serie">Série:</label>
      <input type="text" class="form-control"
      id="serie" required [(ngModel)]="aluno.serie"
      name="txtSerie">
    </div>

    <div class="form-group">
      <label for="cpf">Período:</label>
      <input type="text" class="form-control"
      id="periodo" required [(ngModel)]="aluno.periodo"
      name="txtPeriodo">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Dados salvos com sucesso!</h4>
  <!-- <button class="btn btn-success" (click)="newAluno()">Adicionar</button> -->
</div>

