<app-search-alu (searchalu)="handleSearch($event)"> </app-search-alu>

<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <!--<th scope="col" width="5%">Id</th>-->
          <th scope="col" width="20%">Nome</th>
          <th scope="col" width="20%">Escola</th>
          <th scope="col" width="10%">Linha</th>
          <th scope="col" width="50%">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let aluno of alunos | async | searchalu: filtro_valor | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index"
        >
          <!--<td>{{aluno.id}}</td>-->
          <td>{{aluno.nome}}</td>
          <td>{{aluno.escola.nome}}</td>
          <td>{{aluno.linha.nome_linha}}</td>
          <td>
            <button
              (click)="detalheAluno(aluno.id)"
              class="btn btn-primary"
              style="margin-right: 5px"
            >
              Visualizar
            </button>

            <button
              (click)="updateAluno(aluno.id)"
              class="btn btn-warning"
              style="margin-right: 5px"
            >
              Editar
            </button>

            <button (click)="deleteAluno(aluno.id)" class="btn btn-danger">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="paginaAtual = $event"
      previousLabel="Anterior"
      nextLabel="Próximo"
    ></pagination-controls>
  </div>
</div>
