<a
  [routerLink]="['/alunos']"
  routerLinkActive="router-link-active"
  class="btn btn-success float-right"
>
  <i class="fas fa-plus"></i>
  Adicionar
</a>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Alunos</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Escola</th>
          <th>Linha</th>
          <th>Período</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos | async">
          <td>{{aluno.id}}</td>
          <td>{{aluno.nome}}</td>
          <td>{{aluno.escola.nome}}</td>
          <td>{{aluno.linha.nome_linha}}</td>
          <td>{{aluno.periodo}}</td>
          <td>
            <button
              (click)="detalheAluno(aluno.id)"
              class="btn btn-primary"
              style="margin-right: 10px"
            >
              Visualizar
            </button>

            <button
              (click)="updateAluno(aluno.id)"
              class="btn btn-warning"
              style="margin-right: 10px"
            >
              Editar
            </button>

            <button (click)="deleteAluno(aluno.id)" class="btn btn-danger">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
