<a href="empresas" class="btn btn-success float-right">
  <i class="fas fa-plus"></i>
  Adicionar
</a>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Empresas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas | async">
          <td>{{empresa.id}}</td>
          <td>{{empresa.nome_dono}}</td>
          <td>{{empresa.telefone}}</td>
          <td>{{empresa.endereco}}</td>
          <td>
            <button
              (click)="updateEmpresa(empresa.id)"
              class="btn btn-warning"
              style="margin-right: 10px"
            >
              Editar
            </button>

            <button (click)="deleteEmpresa(empresa.id)" class="btn btn-danger">
              Deletar
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
