<app-search-emp (searchemp)="handleSearch($event)"> </app-search-emp>

<div class="container"> 
<div class="panel-body" >
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" width="26%">Razão Social</th>
        <th scope="col" width="8%">Telefone</th>
        <th scope="col" width="26%">Endereço</th>
        <th scope="col" width="10%">E-mail</th>
        <th scope="col" width="30%">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let empresa of empresas | async | searchemp: filtro_valor | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index"
      >
        <!--<td>{{empresa.id}}</td>-->
        <td>{{empresa.razao_social}}</td>
        <td>{{empresa.telefone}}</td>
        <td>{{empresa.endereco}}</td>
        <td>{{empresa.email}}</td>
        <td>
          <button
            (click)="detalheEmpresa(empresa.id)"
            class="btn btn-info"
            style="margin-right: 5px"
          >
            Visualizar
          </button>

          <button
            (click)="updateEmpresa(empresa.id)"
            class="btn btn-warning"
            style="margin-right: 5px"
          >
            Editar
          </button>

          <button (click)="deleteEmpresa(empresa.id)" class="btn btn-danger">
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="paginaAtual = $event"
    previousLabel="Anterior"
    nextLabel="Próximo"
  ></pagination-controls>
</div>
</div>