<a href="veiculos" class="btn btn-success float-right">
  <i class="fas fa-plus"></i>
  Adicionar
</a>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Veiculos</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Capacidade</th>
          <th>Tipo</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculos | async">
          <td>{{veiculo.id}}</td>
          <td>{{veiculo.capacidade}}</td>
          <td>{{veiculo.tipo}}</td>
          <td>
            <button
              (click)="detalheVeiculo(veiculo.id)"
              class="btn btn-warning"
              style="margin-right: 10px"
            >
              Editar
            </button>
            <button (click)="deleteVeiculo(veiculo.id)" class="btn btn-danger">
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
